[submodule "app/src/main/cpp/adrenotools"]
	path = app/src/main/cpp/adrenotools
	url = https://github.com/teldommm/libadrenotools.git
[submodule "app/src/main/cpp/vkbasalt"]
	path = app/src/main/cpp/vkbasalt
	url = https://github.com/teldommm/vkBasalt.git
