#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,1,0
 PRODUCTVERSION 0,1,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "WinLite"
            VALUE "FileDescription",  "WinLite Refactor Size"
            VALUE "FileVersion",      "0.1.1"
            VALUE "InternalName",     "refactorsize"
            VALUE "OriginalFilename", "refactorsize.exe"
            VALUE "ProductName",      "WinLite"
            VALUE "ProductVersion",   "0.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
